*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    margin: 180px;
    padding: 180px;
    font-size: xx-large;
    font-weight: bold;
    
}
#inputFahrenheit{
    box-sizing: 50px;
}